.fixed {
  background-color: #3256A4;
  position: fixed;
  width: 100%;
  top: -50px;
  z-index: 100;
  
}

header {
  background-color: red;
  /* position: relative; */
}
.Activate{
  /* font-weight: 700 !important; */
  color: #292a2d !important;
  background-color: #f0e319 !important;
}
.bus{
  /* font-weight: 700 !important; */
  color: #292a2d !important;
  background-color: #f0e319 !important;
}